# MLflow 
MLFLOW_TRACKING_URI=neondb_mlflow_uri
MLFLOW_EXPERIMENT_NAME=fraud-detection
MLFLOW_MODEL_NAME=IDNet-Fraud-Detector

# ----- AWS S3 ------------------
AWS_ACCESS_KEY_ID=access_key
AWS_SECRET_ACCESS_KEY=secret_key
AWS_DEFAULT_REGION=eu-west-3
S3_BUCKET=S3_bucket_name

#-------- Data --------------
DATA_RAW_DIR=data/raw
DATA_PROCESSED_DIR=data/processed